Repository fortran-lang/webpage, pull requests merged in 2022-09, with the labels that each got.

#132 Update install_gfortran.md
  source/learn/os_setup/install_gfortran.md
Labels: section: learn

#144 fix a typo in the last sentence of the homepage
  source/index.md
Labels: section: main

#148 Translations update from Hosted Weblate
  locale/zh_CN/LC_MESSAGES/index.po
Labels: i18n: Chinese

#147 Add REDUCE(3f), and miscellaneous errata and style changes
  source/learn/intrinsics/_pages/ABS.md
  source/learn/intrinsics/_pages/ADJUSTR.md
  source/learn/intrinsics/_pages/ALL.md
  source/learn/intrinsics/_pages/BGT.md
  source/learn/intrinsics/_pages/BIT_SIZE.md
  source/learn/intrinsics/_pages/BLE.md
  source/learn/intrinsics/_pages/CMPLX.md
  source/learn/intrinsics/_pages/CO_REDUCE.md
  source/learn/intrinsics/_pages/CPU_TIME.md
  source/learn/intrinsics/_pages/DATE_AND_TIME.md
  source/learn/intrinsics/_pages/EOSHIFT.md
  source/learn/intrinsics/_pages/ERFC.md
  source/learn/intrinsics/_pages/FINDLOC.md
  source/learn/intrinsics/_pages/GET_COMMAND_ARGUMENT.md
  source/learn/intrinsics/_pages/GET_ENVIRONMENT_VARIABLE.md
  source/learn/intrinsics/_pages/HYPOT.md
  source/learn/intrinsics/_pages/MAXLOC.md
  source/learn/intrinsics/_pages/MERGE_BITS.md
  source/learn/intrinsics/_pages/MIN.md
  source/learn/intrinsics/_pages/MOVE_ALLOC.md
  source/learn/intrinsics/_pages/MVBITS.md
  source/learn/intrinsics/_pages/NORM2.md
  source/learn/intrinsics/_pages/REDUCE.md
  source/learn/intrinsics/_pages/REPEAT.md
  source/learn/intrinsics/_pages/SELECTED_REAL_KIND.md
  source/learn/intrinsics/_pages/SIGN.md
  source/learn/intrinsics/_pages/SPREAD.md
  source/learn/intrinsics/_pages/SQRT.md
  source/learn/intrinsics/_pages/THIS_IMAGE.md
  source/learn/intrinsics/_pages/TINY.md
  source/learn/intrinsics/_pages/TRANSFER.md
  source/learn/intrinsics/_pages/UNPACK.md
  source/learn/intrinsics/index.md
  source/learn/intrinsics/transform/index.md
Labels: section: learn

#150 Fix links and references
  source/community.md
  source/community/contributing.md
  source/community/minibooks.md
  source/community/packages.md
  source/learn/intrinsics/index.md
  source/learn/os_setup/choose_compiler.md
Labels: section: learn, section: community

#160 docs: update link to Code of Conduct
  source/community.md
Labels: section: community
