Repository fortran-lang/webpage, pull requests merged in 2022-08, with the labels that each got.

#13 Fail more verbosely when exceeding API rate limit
  .github/workflows/build.yml
  .github/workflows/preview_build.yml
  fortran_package.py
  jekyll_sitemap.py
  source/conf.py
Labels: build: scripts

#25 Fix resolution of included files and search paths in minibook
  source/learn/building_programs/project_make.md
Labels: section: learn

#28 Update link generation in learn pages
  README.md
  source/learn.md
  source/learn/intrinsics/index.md
Labels: section: learn

#12 German translation of webpage
  locale/de/LC_MESSAGES/community.po
  locale/de/LC_MESSAGES/index.po
  locale/de/LC_MESSAGES/learn.po
  locale/de/LC_MESSAGES/news.po
  locale/de/LC_MESSAGES/packages.po
  locale/de/LC_MESSAGES/sphinx.po
Labels: i18n, i18n: German

#31 Merge all po files
  locale/de/LC_MESSAGES/community.po
  locale/de/LC_MESSAGES/compilers.po
  locale/de/LC_MESSAGES/index.po
  locale/de/LC_MESSAGES/learn.po
  locale/de/LC_MESSAGES/news.po
  locale/de/LC_MESSAGES/packages.po
  locale/es/LC_MESSAGES/community.po
  locale/es/LC_MESSAGES/compilers.po
  locale/es/LC_MESSAGES/index.po
  locale/es/LC_MESSAGES/learn.po
  locale/es/LC_MESSAGES/news.po
  locale/es/LC_MESSAGES/packages.po
  locale/es/LC_MESSAGES/sphinx.po
  locale/fr/LC_MESSAGES/community.po
  locale/fr/LC_MESSAGES/compilers.po
  locale/fr/LC_MESSAGES/index.po
  locale/fr/LC_MESSAGES/learn.po
  locale/fr/LC_MESSAGES/news.po
  locale/fr/LC_MESSAGES/packages.po
  locale/fr/LC_MESSAGES/sphinx.po
  locale/ja/LC_MESSAGES/community.po
  locale/ja/LC_MESSAGES/compilers.po
  locale/ja/LC_MESSAGES/index.po
  locale/ja/LC_MESSAGES/learn.po
  locale/ja/LC_MESSAGES/news.po
  locale/ja/LC_MESSAGES/packages.po
  locale/ja/LC_MESSAGES/sphinx.po
  locale/nl/LC_MESSAGES/community.po
  locale/nl/LC_MESSAGES/compilers.po
  locale/nl/LC_MESSAGES/index.po
  locale/nl/LC_MESSAGES/learn.po
  locale/nl/LC_MESSAGES/news.po
  locale/nl/LC_MESSAGES/packages.po
  locale/nl/LC_MESSAGES/sphinx.po
  locale/zh_CN/LC_MESSAGES/community.po
  locale/zh_CN/LC_MESSAGES/compilers.po
  locale/zh_CN/LC_MESSAGES/index.po
  locale/zh_CN/LC_MESSAGES/learn.po
  locale/zh_CN/LC_MESSAGES/news.po
  locale/zh_CN/LC_MESSAGES/packages.po
  locale/zh_CN/LC_MESSAGES/sphinx.po
  source/conf.py
Labels: i18n

#34 Add translation files for Portuguese
  Makefile
  locale/pt/LC_MESSAGES/index.po
  locale/pt/LC_MESSAGES/sphinx.po
  source/_templates/navbar-nav.html
Labels: i18n, i18n: Portuguese

#42 Minor fixes
  locale/de/LC_MESSAGES/index.po
  locale/es/LC_MESSAGES/index.po
  locale/fr/LC_MESSAGES/index.po
  locale/ja/LC_MESSAGES/index.po
  locale/nl/LC_MESSAGES/index.po
  locale/pt/LC_MESSAGES/index.po
  locale/zh_CN/LC_MESSAGES/index.po
  source/learn/building_programs/build_tools.md
  source/learn/quickstart/operators_control_flow.md
Labels: section: learn

#47 Add Czech translation
  Makefile
  locale/cs/LC_MESSAGES/index.po
  locale/cs/LC_MESSAGES/sphinx.po
  source/_templates/version-switcher.html
Labels: i18n, i18n: Czech

#114 Simplify build scripts
  .github/workflows/build.yml
  .github/workflows/preview_build.yml
  Makefile
  README.md
  _data/.gitkeep
  build.py
  data/languages.yml
  data/learning.yml
  data/package_index.yml
  data/redirects.yml
  fortran_package.py
  intl.py
  jekyll_sitemap.py
  locale/cs/LC_MESSAGES/index.po
  locale/de/LC_MESSAGES/index.po
  locale/es/LC_MESSAGES/index.po
  locale/fr/LC_MESSAGES/index.po
  locale/ja/LC_MESSAGES/index.po
  locale/nl/LC_MESSAGES/index.po
  locale/pt/LC_MESSAGES/index.po
  locale/zh_CN/LC_MESSAGES/index.po
  source/community/minibooks.md
  source/community/packages.md
  source/html/index.html
  source/news/2020/02-28-J3-february-meeting.md
  source/news/2020/04-06-Announcing-FortranCon-2020.md
  source/news/2020/04-18-Fortran-Webinar.md
  source/news/2020/05-01-Fortran-Newsletter-May-2020.md
  source/news/2020/06-01-Fortran-Newsletter-June-2020.md
  source/news/2020/07-01-Fortran-Newsletter-July-2020.md
  source/news/2020/08-01-Fortran-Newsletter-August-2020.md
  source/news/2020/09-01-Fortran-Newsletter-September-2020.md
  source/news/2020/10-01-Fortran-Newsletter-October-2020.md
  source/news/2020/11-01-Fortran-Newsletter-November-2020.md
  source/news/2020/12-01-Fortran-Newsletter-December-2020.md
  source/news/2021/01-01-Fortran-Newsletter-January-2021.md
  source/news/2021/02-01-Fortran-Newsletter-February-2021.md
  source/news/2021/03-01-Fortran-Newsletter-March-2021.md
  source/news/2021/03-09-fortran-lang-accepted-for-google-summer-of-code-2021.md
  source/news/2021/04-01-Fortran-Newsletter-April-2021.md
  source/news/2021/04-20-First-Year.md
  source/news/2021/05-01-Fortran-Newsletter-May-2021.md
  source/news/2021/05-18-Welcome-GSoC-students.md
  source/news/2021/06-01-Fortran-Newsletter-June-2021.md
  source/news/2021/07-01-Fortran-Newsletter-July-2021.md
  source/news/2021/08-01-Fortran-Newsletter-August-2021.md
  source/news/2021/09-01-Fortran-Newsletter-September-2021.md
  source/news/2021/10-01-Fortran-Newsletter-October-2021.md
  source/news/2021/11-01-Fortran-Newsletter-November-2021.md
  source/news/2021/12-01-Fortran-Newsletter-December-2021.md
  source/news/2021/12-29-Fortran-lang-2021-in-review.md
  source/news/2022/01-01-Fortran-Newsletter-January-2022.md
  source/news/2022/02-01-Fortran-Newsletter-February-2022.md
  source/news/2022/03-09-Fortran-Newsletter-March-2022.md
  source/news/2022/04-07-Fortran-Newsletter-April-2022.md
  source/news/2022/05-05-Fortran-Newsletter-May-2022.md
  source/news/2022/06-09-Fortran-Newsletter-June-2022.md
Labels: build: scripts
